body {
  font-family: "concourse";
  padding-top: 50px;
}

.chart {
  margin-bottom: 50px;
}

.chart div {
  font: 14px;
  text-align: right;
  padding: 4px;
  margin: 1px;
}

#name_chart div {
  background-color: #efc;
  border: solid #390 1px;
  color: #390;
  text-shadow: #fff 0 1px 0;
}

#color_chart div {
  background-color: #cef;
  border: solid #039 1px;
  color: #039;
  text-shadow: #fff 0 1px 0;
}

#breed_chart div {
  background-color: #fcc;
  border: solid #930 1px;
  color: #930;
  text-shadow: #fff 0 1px 0;
}

.line {
  stroke: #9cf;
  fill:none;
  stroke-width: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 11px;
}

.text-label {
  font-size: 13px;
}

circle {
  fill: #9cf;
}

.d3-tip {
  text-align: center;
}